<mat-toolbar style="max-height: 40px" class="app-header">

  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <div  ><a href="/" class="logo">GiftShop</a></div>
  <span class="nav-tool-items">
    <a mat-button  routerLink="/login" [queryParams]="{returnUrl: url}" class="nav-btn" routerLinkActive="active" *ngIf="!currentUser">Log in</a>
    <a mat-button mat-raised-button class="nav-btn-active" routerLink="/register" [queryParams]="{returnUrl: url}" routerLinkActive="active" *ngIf="!currentUser" >Register</a>
    <button mat-button mat-raised-button class="logout-button nav-btn-active" *ngIf="currentUser" (click)="logout()" >Log out</button>
  </span>
</mat-toolbar>
