<!-- Toolbar -->
<mat-toolbar style="max-height: 40px" class="app-header">
  <div  ><a href="/" class="logo">GiftShop</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" class="nav-btn" routerLinkActive="active" *ngIf="!currentUser">Log in</a>
    <a mat-button mat-raised-button class="nav-btn-active" routerLink="/register" routerLinkActive="active" *ngIf="!currentUser" >Register</a>
    <button mat-button mat-raised-button class="nav-btn-active" *ngIf="currentUser" (click)="logout()" >Log out</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
