<body>
<div class="title">Create order</div>
<div class="order-sum">
  <div class="order-sum-text">Your order sum:</div>
  {{sum}}
</div>

<div class="radio">
  <input type="radio" id="cashPaymentRadio" name="payment" value="cashPaymentRadio" (click)="setRadio('cashPaymentRadio');" [checked]='true' ngModel>
  <label for="cashPaymentRadio">Cash payment</label><br>
</div>

<div class="hidden-block" *ngIf="isSelected('cashPaymentRadio')" >
 <br> You can visit our office to pay in cash and get your order there.
  <br>Our address:
<br>  7 Pobedy avenue, Kyiv, 01135
</div>

<div class="radio">
  <input type="radio" id="PostDeliveryRadio" name="payment" value="postDeliveryRadio" (click)="setRadio('postDeliveryRadio')" [checked]='false' ngModel>
  <label for="postDeliveryRadio">Post delivery</label><br>
</div>

<div class="hidden-block" *ngIf="isSelected('postDeliveryRadio')" >

  <div class="card-data">
    <div class="card-data-title">Our card:</div>
    <div class="card-data-number">0000 0000 0000 0000</div>
    <div class="card-data-owner">Mykhailo Verbytsky</div>
  </div>
  <form>
    <label for="billingAddressLine">Input your address:</label><br>
    <input type="text" id="billingAddressLine" name="billingAddressLine"  [(ngModel)]="billingAddressLine">
  </form>
</div>
<div class="info-class" *ngIf="( (isSelected('postDeliveryRadio')) &&(!billingAddressLine))">You selected post delivery: please, input your address so we can send your order</div>
<div class="info-class" *ngIf="!currentUser"> Please, log in / register before making an order</div>
<div class="container">
  <button class="submit-order-button" [disabled]="!currentUser || ( (isSelected('postDeliveryRadio')) &&(billingAddressLine.length < 1))" (click)="sendData(isSelected('cashPaymentRadio'),  isSelected('postDeliveryRadio'))">
    <div class="submit-order-button-content">
      Submit
    </div>
  </button>
</div>
</body>
