<div style="height: 100vh">
  <div class="filter-panel">
    <ng-multiselect-dropdown class="categories"
      [placeholder]="'Categories filter'"
      [data]="categories"
      [(ngModel)]="selectedCategoriesFromFilter"
      [settings]="dropdownSettings"
    >
    </ng-multiselect-dropdown>
    <div class="custom-slider">
    <ng5-slider class="price" [(value)]="min" [(highValue)]="max" [options]="optionsPriceSlider"></ng5-slider>
    </div>
    <button class="search_filtered_btn" (click)="applyFilters()">APPLY</button>
    <button class="clear_filters_btn" (click)="clearFilters()">CLEAR</button>
  </div>
  <div fxLayout="row wrap"  class="card-deck-container mat-elevation-z4">
    <div fxFlex *ngFor="let product of products"  class="card-item">
      <app-card [product]="product"></app-card>
    </div>

    <div class="paginator mat-elevation-z4"  >
      <mat-paginator
        [length]="totalNumber"
        [pageSize]="productsChunkSize"
        [pageSizeOptions]="[productsChunkSize]"
        [pageIndex]="page"
        (page)="pageEvent = $event; handlePage($event)"
        >
      </mat-paginator>
    </div>
  </div>
</div>
